@import "../../Sass/mixins";

.footer {
  background-color: var(--dark-moderate-cyan);
  padding: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 180px;
}

.nav {
  margin: 40px 0 80px;
}

.nav ul {
  display: flex;
  align-items: center;
}

.nav ul li:not(:last-child) {
  margin-right: 60px;
}

.nav ul li a {
  color: var(--dark-desaturated-cyan);
  font-family: 'Barlow', sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
  opacity: .7;
  @include prefix(transition, color .2s);

  &:hover {
    color: var(--white);
  }
}

.socialMedia {
  user-select: none;

  & ul {
    display: flex;
    align-items: center;
  }
}

.socialMedia ul li:not(:last-child) {
  margin-right: 28px;
}

.socialMedia ul li a {
  display: block;
  width: 21px;
  opacity: .8;
  @include prefix(transition, opacity .3s);

  &:hover {
    opacity: 1;
  }
}