@import "../../Sass/mixins";

.testimonials {
  margin: 140px 0;
}

.title {
  text-align: center;
  color: var(--grayish-blue);
  text-transform: uppercase;
  letter-spacing: 6px;
  word-spacing: 6px;
  margin-bottom: 60px;
  font-size: 1.4rem;
}

.testimonialsCards {
  display: flex;
  justify-content: center;
  gap: 30px;
}

@media (max-width: 992px) {
  .testimonialsCards {
    flex-wrap: wrap;
    gap: 60px;
  }
}